<div class="modal">
  <h3>Purchase Confirmation</h3>

  You want to buy {{model.title}} by {{model.author.name}}

  <p><button {{action 'close'}}>Purchase for ${{model.price}}</button></p>

  <p>Thank you! We will email you your e-book!</p>
</div>